
:root{
    --main-color:#F9661E
    --sub-color:#FF9933
}




body{color: #fff; font-size: 1.6rem; font-family: "Inter", sans-serif; background: #A1C7E0;}
.inner{max-width: 1740px; margin: 0 auto; padding: 0 20px;}



/* header */
#header{position: fixed; left: 0; top: 0; width: 100%; height: 75px; z-index: 35; }
#header .inner{display: flex; align-items: center; font-size: 1.8rem;   max-width: 1820px; color: #fff; font-weight: 600;}
#header .inner h1{width: 100px;margin-top: 8px; }
#header .inner h1 img{width: 100%;}
.lan {
    position: relative;
    width: 120px;
    margin-left: 40px;
    
    align-items: center;
}

.language-list {display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #eee;
    background: transparent;
    backdrop-filter: blur(5px);
    width: 100%;
    margin-top: 15px;
}

.language-list li {
    padding: 8px 12px;
    cursor: pointer;
}

.selected-lan{background: transparent; color: #fff; text-shadow: 0 0 5px rgba(0,0,0,0.5); font-weight: 600;}

.language-list li:hover {
    background-color: transparent;
}

/* 클래스 추가를 통해 리스트 노출 제어 */
.lan.active .language-list {
    display: block;
}


#header .inner nav{ margin-left: auto ;padding-bottom: 10px;}
#header .inner .gnb{display: flex; gap: 20px; }
#header .inner .gnb li{position: relative;}
#header .inner .gnb > li > a{display: block; width: 100%; height: 100%; padding: 30px 15px; text-shadow: 0 0 5px rgba(0,0,0,0.5);}


#header .inner nav .btn_ham{display: none; background: transparent; color: #fff; border: 0;cursor: pointer; filter: brightness(150);width: 3rem ; height: 3rem;}
#header .inner nav .btn_ham img{width: 100%; height: 100%;}
@media(max-width:1200px){
    #header .inner {padding: 30px;}
    #header .inner .gnb {display: none;}
     #header .inner nav .btn_ham{display: block;}
}

#header .inner .depth2{display: flex; display: none;   position: fixed;right: 0; top: 75px;   color: #000; text-shadow: none; height: auto; padding-top: 50px;  background: #A1C7E0; border-radius: 0 0 0 30px; width:700px; gap: 30px;  }
#header .inner .gnb li:hover .depth2 {display: block; transition: all 0.5s; }

#header .inner .depth2 button{ margin: 0 auto;}
#header .inner .depth2 > li > a{display: block; text-align: center; color: #000; font-size: 2rem; font-weight: 500; }

#header .inner .depth2 .tab_btn{display: flex; padding: 0;}
#header .inner .depth2 .tab_btn button{width: 150px;  background:#A1C7E0; border-radius: 30px; text-align: center; color: #000;  cursor: pointer; font-weight: 500;}

#header .inner .depth2 .tab_btn button.active{  padding: 10px 20px; background: #FF9933; border-radius: 30px; text-align: center; color: #000;  cursor: pointer; font-weight: 700; font-size: 2rem;}
.depth2 .tab_list .tab_contents:not(:first-child){display: none;}



#header .inner .depth3 {margin-top: 25px; display: grid; grid-template-columns: 1fr 1fr 1fr;  text-align: center; }
#header .inner .depth3 li { padding:10px 20px ;}
#header .inner .depth3 li > a {margin-bottom: 10px; display: block;}
#header .inner .depth3 li > a:nth-child(2){display: inline-block; padding-bottom: 5px;  }
#header .inner .depth3 a img{width: 150px; height: 150px; border-radius: 30px;transition:  all 0.5s;}
#header .inner .depth3 a img:hover{filter:drop-shadow(0px 0px 4px rgba(0,0,0,0.5)); }





/* footer */
.footer {
    background: #212121;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.6);
    padding: 50px 0;
}

.footer .inner {position: relative; padding: 0 50px;}
.footer .inner .footer_icon {display: flex;width: 200px;}
.footer .inner .footer_icon img {width: 100%;}
.footer .inner .footer_sns {position: absolute;right: 50px;top: 40px;width: 150px;display: flex;gap: 20px;}
.footer .inner .footer_sns img {width: 100%; }
.footer .footer_line { height: 1px;background: rgba(255, 255, 255, 0.6);margin: 10px 0 30px; display: block;}
.footer .footer_txt .company_info{display: flex;gap: 25px; margin-bottom: 10px; font-size: 1.6rem; color: #eee;}
.footer .footer_txt p { margin-bottom: 5px; }