
/* banner */
#main .banner { background: url(../img/feed_shark.png) no-repeat center / cover; object-fit: cover; height: 95vh; width: 100%;}

#main .banner .inner{ max-width: 1500px;}


#main .banner .banner_contents{  padding-top: 450px; position: absolute; left: 4vw; bottom: 18vh; gap: 900px; }
#main .banner .banner_txt{background: rgba(0,0,0,0.5); padding: 30px; border-left:  25px solid #0099DD; border-radius: 0 30px 30px 0px;}
#main .banner .banner_txt h3{font-size: 4rem; padding-bottom: 20px; }
#main .banner .banner_txt p{font-size: 2rem; }

#main .banner .banner_time { background:#fff; color: #000; text-align: center; margin-right: 100px; width: auto; padding: 10px;}
#main .banner .banner_time li{display: flex; gap: 10px; align-items: center; }





/*..enjoy_shark */
.enjoy_shark_txt {position: absolute; right: 3vw ; bottom: 7vh;}
.enjoy_shark_txt ul{ margin-bottom: 100px; background: #0099DD; border-radius: 30px; color: #000; text-align: center; padding: 25px;gap: 30px;}
.enjoy_shark_txt ul li .enjoy_shark_img{margin: 0 auto;  width: 40px; height: 40px; }
.enjoy_shark_txt ul li .enjoy_shark_img img{width: 100%; }




.nj_shark_txt { width: 100%; margin: 0 auto;padding: 5px 0 20px;}
.nj_shark_txt h3{ padding-bottom: 10px;}

/* limit */
.limit{  background: #FF9933; width: 100%; color: #000; padding: 5px; text-align: center; font-weight: 500;} 
.limit h3{font-size: 3rem; padding-bottom: 30px;}

.limit dl dt { padding-bottom: 30px; }