


/* banner */


.banner_contents{position: relative;}
.banner_contents video{width: 100%; max-height: 500px; object-fit: cover; border-radius: 30px;  }
.banner_txt{background: rgba(0,0,0,0.5); padding:  30px;  position: absolute; left: 50%;bottom: 35%;transform: translateX(-50%); text-align: center; border-radius: 30px; text-shadow: 0 0 10px rgba(0, 0, 0, 0.7); box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); border: 1px solid rgba(255,255,255,0.7);}
.banner_txt h3{font-size: 4rem; letter-spacing: 2px; }
.banner_txt p{font-size: 2rem;  margin-top: 20px; line-height: 1.5;}

.banner_map{font-weight: 600; font-size: 2.5rem; width: 120px; text-align: right;  position: absolute;right: 8%; bottom: 42%;}
.banner_map img{width: 100%;}
.banner_map p{padding:  0;margin: 0 auto;  }
.banner_map a{display: block; text-align: center; position: relative;}
.banner_map a>img{width: 50%;  animation: sparkle 1.5s ease-in-out infinite; transition: all 0.5s;}
.banner_map a:hover>img{animation: none; transform: scale(1.1);}
.banner_map a::after{content: "지하 2층"; display: inline-block;   margin-top: 15px;font-size: 1.8rem;   color: #fff;background: rgba(0,0,0,0.5); font-weight: 400; padding: 3px 9px; border-radius: 5px;backdrop-filter: blur(5px); }
.banner_map a::before{content: "지도보기"; display: block; position: absolute; left: 50%; bottom: 6.5rem; transform: translateX(-50%);  width: 100%;  font-size: 1.8rem;font-weight: 500;   margin-bottom: 45px; color: #fff; opacity: 0; transition: all 0.3s; }
.banner_map a:hover::before{position: absolute; left: 50%; bottom: 7.5rem; opacity: 1; }

@keyframes sparkle{
0%, 100%{opacity: 0.5;}
50%{opacity: 1;}
}


.popup-overlay {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

/* 팝업 박스 */
.popup-content {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    border-radius: 8px;
    text-align: center;
}
.popup-content img{border-radius: 10px;}
/* 닫기 버튼 */
.close-btn {
    position: absolute;
    top: 10px; right: -50px;
    font-size: 50px;
    font-weight: 300;
    cursor: pointer;
    color: #fff;
}





/* penguin */
.penguin{margin: 100px auto;}

.penguin .penguin_more{display: grid; grid-template-columns:  1fr 2fr;  gap: 50px; margin: 100px auto;}
.penguin .penguin_more .penguin_information{  color: #000;      gap: 100px; background: #fff; padding: 50px; border-radius: 30px; height: auto; position: relative; }
.penguin .penguin_img{min-width: 500px; }
.penguin .penguin_img img{width: 100%;border-radius: 10px; }

.penguin .penguin_txt h3{font-size: 4rem; padding: 10px 0;margin-top: 30px;}
.penguin .penguin_txt h3+p{font-size: 2rem; padding: 10px 0 20px;}



/* introduce */
.introduce_list ul{display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;justify-content: center;background: url(../img/penguin_wave.png); border-radius: 30px; }
.introduce_list .introduce_img{ width: 100px; height: 100px;}
 .introduce_list ul li {display: flex;flex-direction: column;align-items: center; padding: 30px;}
 .introduce_list ul li img{width: 100%; height: auto; transition: all 0.5s; padding: 50px 0;  }
 .introduce_list ul li:hover img{transform: scale(1.2); }
 .introduce_list ul li p{font-size: 2rem; }

 .introduce_list ul li p:last-child{ margin-top: 100px;  transition: all 0.5s; width: 170px; text-align: center;} 
 .introduce_list ul li:hover p:last-child{ background: #0099DD; border-radius: 10px; }

/* uknw */
.uknw{  color: #000; }
.uknw h3{padding: 80px 0 50px; font-size: 3rem; text-align: center;}

.uknw ul{display: grid; grid-template-columns: 1fr 1fr;  gap: 20px; }

.uknw ul:active{width: 100%; height: 100%;}

.uknw ul li{  min-height: 200px; background: #0099DD; padding: 30px; border-radius: 20px ; position: relative;overflow: hidden;}
.uknw ul li p{font-size: 1.8rem; color: #fff; background: rgba(0, 0, 0, 0.7); padding: 15px; position: absolute; left: 0; bottom: 0; width: 100%; transform: translateY(120px); transition: all 0.5s;}
.uknw ul li:hover p{transform: translateY(0);}
.uknw ul li:first-child{background: url(../img/imsi.png) no-repeat center / cover;}
.uknw ul li:nth-child(2){background: url(../img/imsi2.png) no-repeat center / cover;}
.uknw ul li:nth-child(3){background: url(../img/imsi3.png) no-repeat center / cover;}
.uknw ul li:nth-child(4){background: url(../img/imsi4.png) no-repeat center / cover;}
.uknw ul li img{width: 100%;height: 100%; border-radius: 10px; object-fit: cover;}

/* gone */

.gone{ position: relative; text-align: right; }
.gone img{ width: 100%;right: 300px;  }
.gone .gone_txt{position: absolute; right: 0; top: 0; padding: 80px 100px; }
.gone .gone_txt h3{font-size: 3.6rem; padding-bottom: 30px;}
.gone .gone_txt p{flex-wrap: wrap; font-size: 2rem; line-height: 1.7;}


/* other_seas */
.other_seas{position: relative; margin: 100px 0; color: #000; text-align: center;}
.other_seas h3{font-size: 3.6rem; margin-bottom: 100px;}

.other_seas h2{position: absolute;left: -200px;top: -200px; width: 70%;}
.other_seas h2 img{width: 100%;}


.other_seas .other_seas_animal{display: flex;gap: 30px; max-width: 1200px;margin: 0 auto; justify-content: center; }
.other_seas  h3{margin-bottom: 50px;}
.other_seas .other_seas_animal li{width: 300px; height: 300px; overflow: hidden; border-radius: 10px; position: relative;}
.other_seas .other_seas_animal li:hover img{transform: scale(1.1);}
.other_seas .other_seas_animal li img{width: 100%; height: 100%;border-radius: 10px; margin-bottom: 20px; transition: all 0.5s; }
.other_seas .other_seas_animal li:hover img{ filter: drop-shadow(0 0 5px rgba(0,0,0,0.5)) ; }
.other_seas .other_seas_animal li p{position: absolute; left: 50%; bottom: 2rem; transform: translateX(-50%); font-size: 2rem; color: #eee; background: #111; padding: 5px 15px; width: 150px; border-radius: 10px; transition: all 0.5s;}
.other_seas .other_seas_animal li:hover p{color: #fff; background: #0099DD;}
