
body{background: url(../img/jellyfish2.png) no-repeat center / cover;}



#main .banner .banner_map{margin-bottom: 20px;}



/*.jelly_xb_list */
.jelly_xb_list .inner{ max-width: 1620px;  margin: 150px auto; text-align: center; color: #fff;}
.jelly_xb_list .inner .banner_txt{margin-bottom: 150px;}
.jelly_xb_list .inner .banner_txt h3{ font-size: 5rem; padding-bottom: 10px; text-shadow: 0 0 10px rgba(0,0,0,0.5); }
.jelly_xb_list .inner .banner_txt p{ font-size: 2rem; text-shadow: 0 0 10px rgba(0,0,0,0.5);}

.jelly_xb_list ul li{display: grid; grid-template-columns: 1fr 1fr; overflow: hidden; margin-bottom: 50px; gap: 100px;}
.jelly_xb_list ul li:nth-child(2){ text-align: right;}
.jelly_xb_list ul li:not(:nth-child(2)){ text-align: left;}
.jelly_xb_list .jelly_img{ max-height: 350px;}

.jelly_xb_list .jelly_img video{width: 100%;height: 100%;object-fit: cover;}
.jelly_xb_list .jelly_img img{width: 100%;height: 100%;   object-fit: cover;}
.jelly_xb_list .jelly_txt{height: auto; backdrop-filter: blur(3px) ; background: rgba(0,0,0,0.3); transition: all 0.5s;}
.jelly_xb_list ul li:hover .jelly_txt{ background: rgba(0,0,0,0.7);}
.jelly_xb_list .jelly_txt p{font-size: 2rem; line-height: 1.5; padding: 50px;}



/* review_list */
.jellyfish_review {
    margin: 150px 0 100px;
    color: #fff;
}

.jellyfish_review .inner {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 40px; 
    overflow: hidden;
}

.jellyfish_review .inner h3 {
    font-size: 3rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

/* Swiper 컨테이너 */
.jellyfish_review .jellyfish_review_img_list {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* Slide 스타일 */
.jellyfish_review .jellyfish_review_img_list .swiper-slide {
    height: 400px;
    border-radius: 10px;
    overflow: hidden; 
}

.jellyfish_review .jellyfish_review_img_list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width:1200px) {
.jelly_xb_list ul li{display: grid; grid-template-columns: 1fr ;}
.jellyfish_review {
    text-align: center;
    margin: 150px 0 100px;
    color: #fff;
}

.jellyfish_review .inner {
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr;
}
}