


#main .banner  video{ object-fit: cover; height: 700px; width: 100%;  position: relative; filter: hue-rotate(140deg) contrast(1.2);}
#main .banner .inner{ max-width: 1500px;}


#main .banner .banner_contents{ display: grid;grid-template-columns: 3fr 1fr; text-shadow: 1px 1px 3px rgba(0,0,0,0.5); position: absolute; left: 8vw; bottom: 30vh; gap: 900px; }
#main .banner .banner_txt h3{font-size: 4rem; padding-bottom: 10px; }
#main .banner .banner_txt p{font-size: 2rem;}
#main .banner .banner_map{margin-bottom: 20px;}
#main .banner .banner_map a::before{content: "지하 3층"; display: block; font-size: 2rem; margin-bottom: 10px; text-align: center;}



/*.jelly_xb_list */
.jelly_xb_list .inner{ max-width: 1400px;  margin: 150px auto; text-align: center; color: #000;}
.jelly_xb_list .inner h3{ font-size: 5rem; padding-bottom: 100px;}

.jelly_xb_list ul li{display: grid; grid-template-columns: 1fr 1fr;padding-bottom: 50px; gap: 100px; align-items: center; overflow: hidden;}
.jelly_xb_list ul li:nth-child(2){ text-align: right;}
.jelly_xb_list ul li:not(:nth-child(2)){ text-align: left;}
.jelly_xb_list .jelly_img{max-width: 700px; height: 300px;}
.jelly_xb_list .jelly_img img{width: 100%;height: 100%; border-radius: 30px;  object-fit: cover;}

.jelly_xb_list .jelly_txt p{font-size: 2rem; line-height: 1.5;}


/* review_list */
.review{margin-bottom: 100px; color: #000;}
.review h3{ font-size: 3.6rem; padding: 0px  150px 50px;}
.review .review_img_list{height: 100%; overflow: hidden;}
.review .review_img_list ul li {width: 800px;height: 400px; }
.review .review_img_list img {width: 100%;height: 100%;object-fit: cover;}
