:root {
    --main-color: #F9661E
}

body {
    color: #fff;
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
    background: #000;
}

.inner {
    max-width: 1740px;
    margin: 0 auto;
    padding: 0 20px;
}




/* banner */
.banner {
    width: 100%;
    height: 100%;
    
}

.banner .banner_list ul li {
    position: relative;
    height: 100vh;
}

.banner_list ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner ul li .banner_txt {
    position: absolute;
    left: 80px;
    bottom: 80px;
    line-height: 1;
}

.banner ul li .banner_txt p {
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.banner ul li .banner_txt h3 {
    font-size: 10rem;
    font-weight: 900;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


@media(max-width:1200px) {
    .banner {
        margin-bottom: 50px;
    }

    .banner ul li .banner_txt {
        position: absolute;
        left: 70px;
        bottom: 70px;
        line-height: 1;
    }

    .banner ul li .banner_txt h3 {
        font-size: 10rem;
    }

    .banner ul li .banner_txt p {
        font-size: 3rem;
    }
}

@media(max-width:800px) {
    .banner ul li .banner_txt {
        position: absolute;
        left: 40px;
        bottom: 40px;
        line-height: 1;
    }

    .banner ul li .banner_txt h3 {
        font-size: 8rem;
    }

    .banner ul li .banner_txt p {
        font-size: 2.5rem;
    }
}


/* exibition */
.exibition {
    width: 100%;
    height: 100%;
    background: url(../img/main_aquarium3.png) no-repeat center / cover;
    overflow: hidden;
}

.exibition .inner {
    max-width: 1540px;
    margin: 0 auto;
}

.exibition button.more {
    color: #Fff;
}

.exibition .xb {
    display: grid;
    grid-template-columns:  45fr 55fr;
    gap: 70px;
    margin-top: 50px;
}

.exibition .xb .xb_list {
    width: 100%;
    height: 100%;
    max-height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.exibition .xb ul li {
    width: 100%;
}

.exibition .xb ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exibition .concert {
    display: grid;
    grid-template-columns: 55fr 45fr;
    gap: 70px;
}

.exibition .concert .concert_list {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-height: 300px;
    overflow: hidden;
}

.exibition .concert .concert_list ul li {
    width: 100%;
}

.exibition .concert ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exibition .concert_txt {
    height: 100%;
    max-height: 300px;
    background: transparent;
    border-radius: 10px;
    color: #fff;
}

.exibition .concert_txt dl {
    font-size: 1.6rem;
    padding: 50px;
    text-align: right;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.8);

    border-radius: 15px;
    opacity: 0.9;
    transition: all 0.5s;
}

.exibition .concert_txt:hover dl {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.exibition .concert_txt:last-child dl {
    text-align: left;
}

.exibition .concert_txt:hover dl {
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
}

.exibition .concert_txt dl dt {
    font-size: 3rem;
    padding-bottom: 20px;
    font-weight: 700;
}

.exibition .more {
    color: #000;
    ;
    margin-top: 30px;
    border-radius: 50px;
    padding: 5px 15px;
    transition: all 0.5s;
    cursor: pointer;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-weight: 500;
}

.exibition .xb:hover .concert_txt .more {
    padding: 5px 20px;
    background: #fff;
    border: 1px solid #fff;
    color: #0099DD;
}

.exibition .concert_txt:hover .more:hover {
    background: #0099DD;
    color: #fff;
    border: 1px solid #0099DD;
}

@media(max-width:1380px) {
    .exibition {
        padding: 100px 0;
    }

    .exibition .xb {
        grid-template-columns: 1fr;
        max-width: 80%;
        margin: 0 auto 100px;
    }

    .exibition .xb_txt dl dt {
        font-size: 2.5rem;
        padding-bottom: 10px;
    }

    .exibition .concert {
        grid-template-columns: 1fr;
        max-width: 80%;
        margin: 0 auto 100px;
    }

    .exibition .concert_txt {
        order: 2;
        max-height: 450px;
    }

    .exibition .concert_txt dl {
        text-align: left;
    }

    .exibition .concert .concert_txt dl dt {
        font-size: 2.5rem;
        padding-bottom: 10px;
    }
}



/* picture */
.picture {
    height: 100%;
    width: 100%;
    color: #fff;
    background: url(../img/main_fish4_1.png) no-repeat center / cover;
    overflow: hidden;
}

.picture .inner {
    margin: 0 auto;
    max-width: 1720px;
}

.review {
    display: grid;
    grid-template-columns: 30% 70%;
}

.review h2 {
    font-size: 4rem;
    padding: 0 50px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.review h2:after {
    content: "리뷰를 통해 부산 씨라이프를 미리 경험해보세요";
    display: block;
    font-size: 2rem;
    font-weight: 400;
    max-width: 240px;
    margin-top: 20px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.review_list {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}

.picture .review_list h1 {
    width: 100%;
    height: 650px;
    border-radius: 10px;
    overflow: hidden;
    display: block;
}

.picture .review_list h1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.picture .review_list ul {
    display: flex;
    backdrop-filter: blur(10px);
}

.picture .review_list li h1 {
    position: relative;
}

.picture .review_list li .review_txt {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2rem 2rem;
    background: linear-gradient(360deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.0));
    height: auto;
    border-radius: 10px;
}

.picture .review_list li .review_txt p {

    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.picture .review_list li .review_txt .star {
    color: #FF9933;
    font-size: 2rem;
}

.picture .review_list li .review_txt>p:nth-child(2) {
    color: #ccc;
}

.picture .review_list li .review_tag {
    position: absolute;
    left: 2rem;
    top: 2rem;
}

.picture .review_list li .review_tag p {
    padding: 5px 15px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    display: inline-block;
    margin: 10px 5px 0 0;
}

@media(max-width:1200px) {
    .review {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        margin: 100px auto;
    }

    .review h2 {
        font-size: 3.5rem;
        padding: 100px;
    }

    .review h2:after {
        margin: 0 auto;
        padding-top: 50px;
    }

    .picture .review_list li .review_txt {
        height: auto;
    }
}





/* ticket */
.ticket {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../img/main_fish.jpg) no-repeat center / cover;
}

.ticket .inner {
    position: relative;
    max-width: 1720px;
    margin: 0 auto;
}

.ticket .ticket_same_txt {

    margin: 50px 0;

    text-align: center;
}

.ticket .inner h2 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px;
}

.ticket .inner h2::before {
    content: "입장시 QR코드를 직원에게 보여주세요 · 36개월 무료 입장 가능";
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
}

.ticket .ticket_same_txt a {
    border-bottom: 1px solid #fff;
}

.ticket .inner .ticket_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: hidden;
    border-radius: 10px;
    gap: 3rem;
    align-items: center;
    min-height: 4rem;
    height: auto;
    padding: 2rem 0;

}

@media (min-width:576px) {
    
    .ticket .inner .ticket_list {
        grid-template-columns: repeat(1, 1fr);

        
    }
}


@media (min-width: 768px) {
    .ticket .inner .ticket_list {
        grid-template-columns: repeat(2, 1fr);


    }

    .ticket .inner h2 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    
    .ticket .inner .ticket_list {
        grid-template-columns: repeat(4, 1fr);
        height: 65vh;
        
        gap: 3rem;
    }

}

.ticket .inner .ticket_list li {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;

}

.ticket .inner .ticket_list li:hover .ticket_buy {
    background: #0099DD;
    color: #fff;
    margin-top: 20px;
    text-align: end;
    font-size: 1.8rem;
    padding: 6px 30px;
    border-radius: 30px;
    font-weight: 500;
}

.sale_txt {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
    background: #f33;
    width: 11rem;
    text-align: right;
    border-radius: 0 10px 0 10px;
    padding: 15px 25px 15px 20px;
    font-weight: 600;
}

.sale_txt span {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.1;
}



.tickets {
    border-radius: 0 50px 10px 10px;
    position: relative;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    backdrop-filter: blur(1px);
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    transition: all 3s;
}

.tickets .ticket_name {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 20px;
}

.ticket_txt_more {
    position: absolute;
    right: 0;
    top: 22%;
    padding: 10px;
    text-align: right;
}

li:nth-of-type(2) .ticket_txt_more {
    position: absolute;
    right: 0;
    top: 0;
}

.ticket_txt_more span {
    color: #f33;
    font-weight: bold;
}

.ticket_txt_more dd {
    display: none;
    font-size: 14px;
    color: #000;
    margin-top: 5px;
    background: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    z-index: 99;
}

.ticket_txt_more dt {
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background: rgba(0, 0, 0, 0.2);
    padding: 3px 15px;
    display: inline-block;
    cursor: pointer;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.);
    backdrop-filter: blur(10px);
    margin-bottom: 10px;
}


@keyframes txt_more {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.ticket_txt_more.active dd {
    display: block;
    animation: txt_more 0.5s ease-out forwards;
}

.tickets .ticket_buy {
    background: #fff;
    margin-top: 20px;
    text-align: end;
    font-size: 1.8rem;
    padding: 6px 30px;
    border-radius: 30px;
    font-weight: 500;
    transition: all 0.5s;
    cursor: pointer;
}

.ticket .inner .ticket_list li:hover video {
    transform: scale(1.1);
}

.ticket .inner ul li video {
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s;
}





#fp-nav {
    position: fixed;
}

#fp-nav ul {
    background: transparent;
    border-radius: 50px;
    padding: 50px 0;
    margin-left: 30px;
}

#fp-nav ul li {
    padding: 10px 0;
}

#fp-nav ul li a span {
    background: #A1C7E0;
    transition: all 0;
}

#fp-nav ul li a.active span {
    background: #fff;
}
@media(max-width:1200px) {

    #fp-nav {
        opacity: 0;
    }
}