
:root{
    --main-color:#F9661E
}

body{color: #fff; font-size: 1.6rem; font-family: "Inter", sans-serif;background: #a1c7e0; }
.inner{max-width: 1740px; margin: 0 auto; padding: 0 20px;}




/* banner */
#main .banner { overflow: hidden; }
#main .banner  .banner_video{ position: relative;}
#main .banner  video{ object-fit: cover; height: 100%; width: 100%; }
.banner_txt{position: absolute; left: 50%; bottom: 35%; transform: translateX(-50%); z-index: 10; text-align: center;}
.banner_txt h3{font-size: 4.5rem;text-shadow: 0 0 5px rgba(0,0,0,0.5);}
.banner_txt strong{font-size: 2.5rem;display: block; padding: 20px 0;text-shadow: 0 0 5px rgba(0,0,0,0.5);}
.banner_txt p{font-size: 2rem;display: inline-block; padding: 30px  ; background: rgba(0,0,0,0.3); backdrop-filter: blur(10px); border-radius: 10px; text-shadow: 0 0 5px rgba(0,0,0,0.5);}







/* .voucher_info */



/* .voucher_ticket */
.voucher_ticket{  color: #000; margin: 150px 0 ;  }
.voucher_ticket .inner{max-width: 1300px; }
.voucher_ticket .inner h3{ font-size: 3rem;}
.voucher_ticket .voucher_ticket_con{display: grid; grid-template-columns: 1fr 1fr; gap: 30px;}

.voucher_ticket_info{min-height: 225px; margin-bottom: 30px; display: block;}
.voucher_ticket_info .sub_txt{font-size: 2rem; padding: 10px 0 50px;}
@media(max-width:800px){
    .voucher_ticket .voucher_ticket_con{grid-template-columns: 1fr;}
}
.voucher_ticket .voucher_ticket_con li{height: 50vh; position: relative;  }
.voucher_ticket .voucher_ticket_con li img{height: 100%; width: 100%; object-fit: cover;border-radius: 10px;}
.voucher_ticket .voucher_ticket_txt{position: absolute; left: 0; bottom: 0; color: #fff;backdrop-filter: blur(60px); width: 100%;height: 100%; padding: 30px; border-radius: 10px; } 

.voucher_ticket .voucher_ticket_txt ul{display: flex; gap: 30px;  margin-left: 30px; text-align: left;  }
.voucher_ticket .voucher_ticket_txt .line{border-top: 1px solid rgba(255,255,255,0.5); padding: 20px 0; margin-top: 20px;}
.voucher_ticket .voucher_ticket_txt ul li p:last-child{font-size: 2rem;}



.voucher_ticket .btn_buy{position: absolute; right: 2vw; bottom: 4vh; padding: 10px 30px; background: #111; border-radius: 30px; text-align: center; color: #fff; font-size: 1.5rem; cursor: pointer;}
.voucher_ticket li:hover .btn_buy{ background:#0099dd;transition: all 0.5s ; padding: 10px 40px;}

/* voucher_faq */
.voucher_faq{color: #000; margin: 100px auto;}
.voucher_faq .inner{ max-width: 1350px;   background: #fff; border-radius: 30px ; padding: 30px;}
.voucher_faq .voucher_faq_txt h3{ font-size: 4rem; padding: 10px 0 30px; }
.voucher_faq .voucher_faq_txt strong{font-size: 2rem; margin: 10px;  }
.voucher_faq .voucher_faq_txt p{ font-size: 1.8rem;  border-radius: 20px; padding: 20px; margin: 10px 0; background: rgba(0,0,0,0.1);}
